#服務埠
PORT=8081

# twitch extension secret base64
EXTENSION_SECRET_BASE64=EgPiqIBlLNmAjBeVOIqQN0CJW3GX4Mzb6b4lmkl6EVU

# （目前未用，留待進階 OAuth 用）
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# 管理端 Token（進階 /admin 用，可先空著或自訂）
ADMIN_TOKEN=change-me
# 環境：development / production
NODE_ENV=development